.product {
  width: 100%;
  background: #1c1814;
  &__wrapper--top {
    width: 100%;
    .product__info {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      color: #fff;
      gap: 16px;
      .product__text {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #c99e71;
      }
      .product__title {
        font-size: 48px;
        font-weight: 600;
        line-height: 62px;
      }
    }
    .product__cards {
      width: 100%;
      padding: 50px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .product__card {
        padding: 20px 0;
        width: calc(33.33% - 20px);
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: #121315;
        color: #fff;
        &--btn {
          width: 170px;
          height: 40px;
          border: none;
          border-radius: 8px;
          background: #c99e71;
          color: #fff;
        }
        span {
          color: #c99e71;
        }
      }
    }

    .product__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 250px;
        height: 60px;
        border: none;
        border-radius: 10px;
        background: #c99e71;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  &__wrapper--bottom {
    margin-top: 50px;
    width: 100%;
    padding: 50px 0;
    background: #121315;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .product__left {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .product__right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      color: #fff;
      .product__name {
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
      }
      .product__description {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
      }
      .btn {
        width: 160px;
        height: 50px;
        border: none;
        border-radius: 8px;
        background: #c99e71;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
